In [1]:
languages = ['python', 'perl', 'c', 'java']

for lang in languages:
    if lang in ['python', 'perl']:
        print("%6s need interpreter" % lang)
    elif lang in ['c', 'java']:
        print("%6s need compiler" % lang)
    else:
        print("should not reach here")

python need interpreter
  perl need interpreter
     c need compiler
  java need compiler

In [15]:
a = 5
if a < 3:
    print('a는 3보다 작다')
else:
    print('a는 3 이상이다')

a는 3 이상이다

In [29]:
a='''
동해물과
백두산이
'''
a

'\n동해물과\n백두산이\n'

In [35]:
import pandas as pd
import numpy as np

first = np.arange(1,8)
second = ['전준수','고은비','김태현','이지인','강호석','신광욱','전희선']
df = pd.DataFrame({'number':first,'name':second})

df

   number name
0       1  전준수
1       2  고은비
2       3  김태현
3       4  이지인
4       5  강호석
5       6  신광욱
6       7  전희선

In [40]:
df.name[2]='정동욱'
df

C:\Users\Dongwook Jung\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   number name
0       1  전준수
1       2  고은비
2       3  정동욱
3       4  이지인
4       5  강호석
5       6  신광욱
6       7  전희선

In [45]:
word = '안녕하세요 저는 BOAZ 13기에 합격한 정동욱입니다.'
word

'안녕하세요 저는 BOAZ 13기에 합격한 정동욱입니다.'

In [53]:
import re
re.sub(r'[0-9]','', word )

'안녕하세요 저는 BOAZ 기에 합격한 정동욱입니다.'

In [54]:
word.replace(' ','')

'안녕하세요저는BOAZ13기에합격한정동욱입니다.'

In [44]:
word

'안녕하세요 저는 BOAZ 13기에 합격한 정동욱입니다.'